<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@Url.Content("~/")">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="@(ViewBag.ClientId)">
    <link rel="icon" href="@Url.Content("~/favicon.ico")">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="@Url.Content("~/index.css")">
    <title></title>
</head>
<body>
    @Html.AntiForgeryToken()
    <div id="app"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="@Url.Content("~/index.js")"></script>
</body>
</html>